
.homepage-container {
    background: linear-gradient(90deg, #7feead, #d88cf0, var(--color-4));
    background-size: 300% 300%;
    animation: gradient 4s alternate infinite;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    color: var(--color-4);
    margin: 0;
    position: fixed;
    height: 100vh;
    bottom: 0;
    left: 0;
    right: 0;
    font-size: 2vmin;

}

@keyframes gradient {
    0% {
      background-position: 0%;
    }
    100% {
      background-position: 100%;
    }
  }


#about-me {
    background-color: var(--dark);
    margin-top: 20vh;
    margin-bottom: 3vh;
    margin-left: 0;
    width: 60vw;
    height: 60vh;
    padding: 2%;
    line-height: 5vmin;
    overflow: auto;
    -webkit-animation: focus-in-contract-bck 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
        animation: focus-in-contract-bck 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

#about-me h1:hover {
    width: 100%;
    filter: drop-shadow(0 0 20px white);
    color: white;
}

#about-me::-webkit-scrollbar {
    display: none;
  }

#about-me i {
    font-size: 3vw;
    margin: 0 1vmin;
    padding: 1.5vmin 2vmin;
    border:6px solid var(--dark);
    background-color: var(--color-4);
    color: var(--dark);
    border-radius: 50%;
    transition: all 0.5s ease-in-out;
}

#about-me i:hover {
    color: var(--color-4);
    background-color: var(--dark);
    border:6px solid var(--color-4);
}

 

.about-me-container {
    display: flex;
}

.about-me-container img {
    background-color: var(--dark);
    margin-top: 20vh;
    margin-bottom: 3vh;
    margin-left: 0;
    width: auto;
    height: 60vh;
    padding: 2%;
    -webkit-animation: focus-in-contract-bck 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
        animation: focus-in-contract-bck 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}



@-webkit-keyframes focus-in-contract-bck {
    0% {
      letter-spacing: 1em;
      -webkit-transform: translateZ(300px);
              transform: translateZ(300px);
      -webkit-filter: blur(12px);
              filter: blur(12px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateZ(12px);
              transform: translateZ(12px);
      -webkit-filter: blur(0);
              filter: blur(0);
      opacity: 1;
    }
  }
  @keyframes focus-in-contract-bck {
    0% {
      letter-spacing: 1em;
      -webkit-transform: translateZ(300px);
              transform: translateZ(300px);
      -webkit-filter: blur(12px);
              filter: blur(12px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateZ(12px);
              transform: translateZ(12px);
      -webkit-filter: blur(0);
              filter: blur(0);
      opacity: 1;
    }
  }
