
.portfolio-page {
    display: flex;
    flex-direction: column;
    margin : 15vh 4vw 8vh 4vw;
    /* margin: 5vw 4vw; */
    position: relative;
    padding: 0 3vw;
}

.portfolio-page h1 {
    color: var(--color-2);
    font-size: 4vmin;
    text-shadow: 4px 3px 0px #fff, 9px 8px 0px rgba(0,0,0,0.15);
}

.portfolio-page i.fa-caret-right {
    position: absolute;
    right: -3vw;
    top: 40%;
    color: var(--color-4);
    font-size: 10vmin;
    z-index: 10;
    transition: all 0.5s;
    cursor: pointer;
}

.portfolio-page i.fa-caret-left {
    cursor: pointer;
    position: absolute;
    left: -3vw;
    top: 40%;
    color: var(--color-4);
    font-size: 10vmin;
    z-index: 10;
    transition: all 0.5s;
}

.portfolio-page i:hover {
    opacity: 0.5;
}

.projects-container {
    display: flex;
    width: 100%;
    padding: 1vw;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    overflow: scroll;
    -webkit-animation: focus-in-contract-bck 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
        animation: focus-in-contract-bck 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.projects-container::-webkit-scrollbar {
    display:none;
}

.project {
    margin: 2vw 4vw;
    position: relative;
}

.project h2 {
    text-shadow: 2px 7px 5px rgba(0,0,0,0.3), 0px -4px 10px rgba(255,255,255,0.3);
    font-size: 3vmin;
}

.project p {
    font-size: 2vmin;
}

.project-image {
    width: 35vw;
    overflow: hidden;
    margin: 2vw;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.portfolio-page i.fa-angle-left {
    position: absolute;
    left: 0;
    font-size: 3vmin;
    padding: 1vmin 1.8vmin;
    border: 1px solid var(--color-4);
    border-radius:50%;
    background-color: var(--color-4);
    color: white;
    top: 50%;
    transition: all 0.5s;
}

.portfolio-page i.fa-angle-right {
    position: absolute;
    right: 0;
    font-size: 3vmin;
    padding: 1vmin 1.8vmin;
    border: 1px solid var(--color-4);
    border-radius:50%;
    background-color: var(--color-4);
    color: white;
    top: 50%;
    transition: all 0.5s;
}

.project a {
    text-decoration: none;
    color: var(--color-4);
    font-size: 2vmin;
}

.project a:hover {
    text-decoration: underline;
}

.project img {
    width: 100%;
    height: auto;    
}
