
.nav-container {
    background-color: var(--dark);
    margin: 0;
    position: fixed;
    height: 10vh;
    z-index: 10;
    top: 0;
    left: 0;
    right: 0;
    display:flex;
    justify-content: space-between;
    padding: 0 40px;
    text-transform: uppercase;
    align-items: center;
    font-size: 2.2vmin;
}

.nav-container a {
    color: white;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}


.nav-right {
    display: flex;

}

#resume-link, #portfolio-link, #contact-link {
    padding: 15px;
}
