.contact-page {
    display:flex;
    justify-content: center;
    align-items: center;
    margin : 15vh 15vw 8vh 15vw;
}

.contact-page section {
    width: 50vw;
    height: 50vh;
    font-size: 3.5vmin;
    text-align: center;
    -webkit-animation: focus-in-contract-bck 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
        animation: focus-in-contract-bck 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.contact-page #name, .contact-page #email{
    width: 100%;
    margin: 0.5vmin;
    height: 4vmin;
    font-size: 2.5vmin;
    padding: 0.5vmin 0 0 1vmin;
}

.contact-page input:focus {
    outline: none;
    border: 1px solid var(--color-4);
}

.contact-page #message{
    height: 20vmin;
    font-size: 2.5vmin;
    padding: 0.5vmin 0 0 1vmin;
    font-family: 'Open Sans', sans-serif;
    margin: 0.5vmin;
    width: 100%;
}

.contact-page #message:focus{
    outline: none;
    border: 1px solid var(--color-4);
}

.contact-page #submit {
    height: 4vmin;
    width: 100%;
    font-size: 2.5vmin;
    margin: 0.5vmin;
    padding: 1.5vmin 0 3vmin 0;
    border-radius: 2vmin;
    background-color: var(--color-3);
    color: white;
    transition: all 0.5s ease-in-out;
}

.contact-page #submit:hover {
    background-color: var(--color-4);
    color: var(--color-1);
}