:root {
  --color-1: #420516;
  --color-2: #7D1935;
  --color-3: #B42B51;
  --color-4: #E63E6D;
  --color-4-transparent: rgba(230, 62, 110, 0.471);
  --dark: #040303;
  font-family: 'Open Sans', sans-serif;
}